.App {
  text-align: center;
}

.player{
  width: 120px;
  height: 240px;
}
.player-active{
  margin: 5px;
}

.player-inactive{
  margin: 10px;
  zoom: 0.9;
}

.card-name{
  font-size: 10px;
}

.hidden, .game-settings, .game-board, .cards-panel {
  display: none !important;
  transition: display 0.5s linear !important;
}

.hidden.open, .game-settings.open, .game-board.open, .cards-panel.open  {
  display: block !important;
  transition: display 0.5s linear !important;
}